# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [2]:

from selenium import webdriver

from webdriver_manager.chrome import ChromeDriverManager

import time

In [3]:
!pwd

/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code

In [4]:
webdriver.Chrome('/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code/chromedriver.exe')

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
webdriver.Chrome('/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code/chromedriver.exe'
).get('https://www.google.es')

In [7]:
#your coded
PATH = '/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code/chromedriver.exe'

url = 'https://github.com/trending/developers'

driver=webdriver.Chrome(PATH)
driver.get(url)
dev=driver.find_elements_by_class_name('h3.lh-condensed')
res= [i.text for i in dev]

In [7]:
res

['Rafał Mikrut',
 'PySimpleGUI',
 'Martin Atkins',
 'CrazyMax',
 'Matthias Urhahn',
 'Jamie Wong',
 'Leonid Bugaev',
 'Claudéric Demers',
 'Kyle Altendorf',
 'Anthony Shaw',
 'Arvid Norberg',
 'Fernand Galiana',
 'Sebastian Benz',
 'Stephan Dilly',
 'Nicolas Grekas',
 'Yusuke Kuoka',
 'Sébastien Lorber',
 'Alex Gaynor',
 'Robin',
 'Sorin Sbarnea',
 'Hang Zhang',
 'Samuel Colvin',
 'Alan Shreve',
 'Sebastián Ramírez',
 'Stefan Prodan']

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [8]:
PATH = '/mnt/c/Users/Vicente/Desktop/Semana_3/lab_scraping_selenium/your-code/chromedriver.exe'

url = 'https://github.com/trending/developers'

driver=webdriver.Chrome(PATH)
driver.get(url)

nicks = [b.text for b in driver.find_elements_by_class_name('f4.text-normal.mb-1')]

driver.get(url)
dev=driver.find_elements_by_class_name('h3.lh-condensed')
res= [i.text for i in dev]

name_nick=[res+nicks]
name_nick

[['Rafał Mikrut',
  'PySimpleGUI',
  'Martin Atkins',
  'CrazyMax',
  'Matthias Urhahn',
  'Jamie Wong',
  'Leonid Bugaev',
  'Claudéric Demers',
  'Kyle Altendorf',
  'Anthony Shaw',
  'Arvid Norberg',
  'Fernand Galiana',
  'Sebastian Benz',
  'Stephan Dilly',
  'Nicolas Grekas',
  'Yusuke Kuoka',
  'Sébastien Lorber',
  'Alex Gaynor',
  'Robin',
  'Sorin Sbarnea',
  'Hang Zhang',
  'Samuel Colvin',
  'Alan Shreve',
  'Sebastián Ramírez',
  'Stefan Prodan',
  'qarmin',
  'PySimpleGUI',
  'apparentlymart',
  'crazy-max',
  'd4rken',
  'jlfwong',
  'buger',
  'clauderic',
  'altendky',
  'tonybaloney',
  'arvidn',
  'derailed',
  'sebastianbenz',
  'extrawurst',
  'nicolas-grekas',
  'mumoshu',
  'slorber',
  'alex',
  'robmarkcole',
  'ssbarnea',
  'zhanghang1989',
  'samuelcolvin',
  'inconshreveable',
  'tiangolo',
  'stefanprodan']]

In [11]:
nick_name

['qarmin',
 'PySimpleGUI',
 'apparentlymart',
 'crazy-max',
 'd4rken',
 'jlfwong',
 'buger',
 'clauderic',
 'altendky',
 'tonybaloney',
 'arvidn',
 'derailed',
 'sebastianbenz',
 'extrawurst',
 'nicolas-grekas',
 'mumoshu',
 'slorber',
 'alex',
 'robmarkcole',
 'ssbarnea',
 'zhanghang1989',
 'samuelcolvin',
 'inconshreveable',
 'tiangolo',
 'stefanprodan']

In [9]:
driver=webdriver.Chrome(PATH)
url = 'https://github.com/trending/python?since=daily'
driver.get(url)
repo=driver.find_elements_by_class_name('h3.lh-condensed')
res1= [i.text for i in repo]

In [10]:
res1

['CyberPunkMetalHead / Binance-volatility-trading-bot',
 'pallets / flask',
 'CorentinJ / Real-Time-Voice-Cloning',
 'aliparlakci / bulk-downloader-for-reddit',
 'minimaxir / big-list-of-naughty-strings',
 'pyodide / pyodide',
 'pallets / jinja',
 'pallets / click',
 'PaddlePaddle / PaddleDetection',
 'lux-org / lux',
 'NVIDIA / Megatron-LM',
 'matplotlib / cheatsheets',
 'holoviz / panel',
 'ansible / ansible',
 'tiangolo / fastapi',
 'yearn / woofy',
 'junyanz / pytorch-CycleGAN-and-pix2pix',
 'martomi / chiadog',
 'dbolya / yolact',
 'bridgecrewio / checkov',
 'samuelcolvin / pydantic',
 'ansible-collections / community.general',
 'open-mmlab / mmdetection',
 'yzhao062 / pyod',
 'blakeblackshear / frigate']

#### Display all the image links from Walt Disney wikipedia page

In [11]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [126]:
driver=webdriver.Chrome(PATH)
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
driver.get(url)
img=driver.find_elements_by_tag_name('img')
resultado=[a.get_attribute('src') for a in img]

In [127]:
resultado

['https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Cscr-featured.svg/20px-Cscr-featured.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Extended-protection-shackle.svg/20px-Extended-protection-shackle.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Newman_Laugh-O-Gram_%281921%29.webm/220px-seek%3D2-Newman_Laugh-O-Gram_%281921%29.webm.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Disney_Display_Case.JPG/170px-Disney_Display_Case.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/30px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/6/69/P_vip.svg/29px-P_vip.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/24px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/e/e7/Video-x-generic.svg/30px-Video-x-generic.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Flag_of_Los_Angeles_County%2C_California.svg/30px-Flag_of_Los_Angeles_County%2C_California.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/30px-Blank_television_set.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/30px-Flag_of_the_United_States.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Commons-logo.svg/22px-Commons-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Wikiquote-logo.svg/25px-Wikiquote-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Wikidata-logo.svg/30px-Wikidata-logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/OOjs_UI_icon_edit-ltr-progressive.svg/10px-OOjs_UI_icon_edit-ltr-progressive.svg.png',
 'https://en.wikipedia.org/static/images/footer/wikimedia-button.png',
 'https://en.wikipedia.org/static/images/footer/poweredby_mediawiki_88x31.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [14]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [15]:
driver=webdriver.Chrome(PATH)
url = 'https://en.wikipedia.org/wiki/Python' 
driver.get(url)
links=driver.find_elements_by_tag_name('a')
resultado=[a.get_attribute('href') for a in links]

In [16]:
resultado

[None,
 'https://en.wikipedia.org/wiki/Python#mw-head',
 'https://en.wikipedia.org/wiki/Python#searchInput',
 'https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wikipedia.org/wiki/Pythons',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python#Computing',
 'https://en.wikipedia.org/wiki/Python#People',
 'https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'https://en.wikipedia.org/wiki/Python#Vehicles',
 'https://en.wikipedia.org/wiki/Python#Weaponry',
 'https://en.wikipedia.org/wiki/Python#Other_uses',
 'https://en.wikipedia.org/wiki/Python#See_also',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=1&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/CMU_Common_Lisp',
 'https://en.wikipedia.org/wiki/PERQ#PERQ_3',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=2&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=3&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=4&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=5&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Colt_Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=6&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/PYTHON',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Monty_Python',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=7&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/wiki/Cython',
 'https://en.wikipedia.org/wiki/Pyton',
 'https://en.wikipedia.org/wiki/Pithon',
 'https://en.wikipedia.org/wiki/File:Disambig_gray.svg',
 'https://en.wikipedia.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=997582414',
 'https://en.wikipedia.org/wiki/Help:Category',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Human_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_given-name-holder_lists',
 'https://en.wikipedia.org/wiki/Category:Disambiguation_pages_with_short_descriptions',
 'https://en.wikipedia.org/wiki/Category:Short_description_is_different_from_Wikidata',
 'https://en.wikipedia.org/wiki/Category:All_article_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:All_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Category:Animal_common_name_disambiguation_pages',
 'https://en.wikipedia.org/wiki/Special:MyTalk',
 'https://en.wikipedia.org/wiki/Special:MyContributions',
 'https://en.wikipedia.org/w/index.php?title=Special:CreateAccount&returnto=Python',
 'https://en.wikipedia.org/w/index.php?title=Special:UserLogin&returnto=Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Talk:Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&editintro=Template:Disambig_editintro',
 'https://en.wikipedia.org/w/index.php?title=Python&action=history',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Main_Page',
 'https://en.wikipedia.org/wiki/Wikipedia:Contents',
 'https://en.wikipedia.org/wiki/Portal:Current_events',
 'https://en.wikipedia.org/wiki/Special:Random',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 'https://en.wikipedia.org/wiki/Help:Contents',
 'https://en.wikipedia.org/wiki/Help:Introduction',
 'https://en.wikipedia.org/wiki/Wikipedia:Community_portal',
 'https://en.wikipedia.org/wiki/Special:RecentChanges',
 'https://en.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https://en.wikipedia.org/wiki/Special:WhatLinksHere/Python',
 'https://en.wikipedia.org/wiki/Special:RecentChangesLinked/Python',
 'https://en.wikipedia.org/wiki/Wikipedia:File_Upload_Wizard',
 'https://en.wikipedia.org/wiki/Special:SpecialPages',
 'https://en.wikipedia.org/w/index.php?title=Python&oldid=997582414',
 'https://en.wikipedia.org/w/index.php?title=Python&action=info',
 'https://en.wikipedia.org/w/index.php?title=Special:CiteThisPage&page=Python&id=997582414&wpFormIdentifier=titleform',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452',
 'https://en.wikipedia.org/w/index.php?title=Special:DownloadAsPdf&page=Python&action=show-download-screen',
 'https://en.wikipedia.org/w/index.php?title=Python&printable=yes',
 'https://commons.wikimedia.org/wiki/Category:Python',
 'https://af.wikipedia.org/wiki/Python',
 'https://als.wikipedia.org/wiki/Python',
 'https://ar.wikipedia.org/wiki/%D8%A8%D8%A7%D9%8A%D8%AB%D9%88%D9%86_(%D8%AA%D9%88%D8%B6%D9%8A%D8%AD)',
 'https://az.wikipedia.org/wiki/Python',
 'https://bn.wikipedia.org/wiki/%E0%A6%AA%E0%A6%BE%E0%A6%87%E0%A6%A5%E0%A6%A8_(%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8D%E0%A6%AF%E0%A6%B0%E0%A7%8D%E0%A6%A5%E0%A6%A4%E0%A6%BE_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A6%B8%E0%A6%A8)',
 'https://be.wikipedia.org/wiki/Python',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BF%D0%BE%D1%8F%D1%81%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5)',
 'https://cs.wikipedia.org/wiki/Python_(rozcestn%C3%ADk)',
 'https://da.wikipedia.org/wiki/Python',
 'https://de.wikipedia.org/wiki/Python',
 'https://eo.wikipedia.org/wiki/Pitono_(apartigilo)',
 'https://eu.wikipedia.org/wiki/Python_(argipena)',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86',
 'https://fr.wikipedia.org/wiki/Python',
 'https://ko.wikipedia.org/wiki/%ED%8C%8C%EC%9D%B4%EC%84%A0',
 'https://hr.wikipedia.org/wiki/Python_(razdvojba)',
 'https://io.wikipedia.org/wiki/Pitono',
 'https://id.wikipedia.org/wiki/Python',
 'https://ia.wikipedia.org/wiki/Python_(disambiguation)',
 'https://is.wikipedia.org/wiki/Python_(a%C3%B0greining)',
 'https://it.wikipedia.org/wiki/Python_(disambigua)',
 'https://he.wikipedia.org/wiki/%D7%A4%D7%99%D7%AA%D7%95%D7%9F',
 'https://ka.wikipedia.org/wiki/%E1%83%9E%E1%83%98%E1%83%97%E1%83%9D%E1%83%9C%E1%83%98_(%E1%83%9B%E1%83%A0%E1%83%90%E1%83%95%E1%83%90%E1%83%9A%E1%83%9B%E1%83%9C%E1%83%98%E1%83%A8%E1%83%95%E1%83%9C%E1%83%94%E1%83%9A%E1%83%9D%E1%83%95%E1%83%90%E1%83%9C%E1%83%98)',
 'https://kg.wikipedia.org/wiki/Mboma_(nyoka)',
 'https://la.wikipedia.org/wiki/Python_(discretiva)',
 'https://lb.wikipedia.org/wiki/Python',
 'https://hu.wikipedia.org/wiki/Python_(egy%C3%A9rtelm%C5%B1s%C3%ADt%C5%91_lap)',
 'https://mr.wikipedia.org/wiki/%E0%A4%AA%E0%A4%BE%E0%A4%AF%E0%A4%A5%E0%A5%89%E0%A4%A8_(%E0%A4%86%E0%A4%9C%E0%A5%8D%E0%A4%9E%E0%A4%BE%E0%A4%B5%E0%A4%B2%E0%A5%80_%E0%A4%AD%E0%A4%BE%E0%A4%B7%E0%A4%BE)',
 'https://nl.wikipedia.org/wiki/Python',
 'https://ja.wikipedia.org/wiki/%E3%83%91%E3%82%A4%E3%82%BD%E3%83%B3',
 'https://no.wikipedia.org/wiki/Pyton',
 'https://pl.wikipedia.org/wiki/Pyton',
 'https://pt.wikipedia.org/wiki/Python_(desambigua%C3%A7%C3%A3o)',
 'https://ru.wikipedia.org/wiki/Python_(%D0%B7%D0%BD%D0%B0%D1%87%D0%B5%D0%BD%D0%B8%D1%8F)',
 'https://sk.wikipedia.org/wiki/Python',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%B2%D0%B8%D1%88%D0%B5%D0%B7%D0%BD%D0%B0%D1%87%D0%BD%D0%B0_%D0%BE%D0%B4%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D1%86%D0%B0)',
 'https://sh.wikipedia.org/wiki/Python',
 'https://fi.wikipedia.org/wiki/Python',
 'https://sv.wikipedia.org/wiki/Pyton',
 'https://th.wikipedia.org/wiki/%E0%B9%84%E0%B8%9E%E0%B8%97%E0%B8%AD%E0%B8%99',
 'https://tr.wikipedia.org/wiki/Python',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://ur.wikipedia.org/wiki/%D9%BE%D8%A7%D8%A6%DB%8C%D8%AA%DA%BE%D9%88%D9%86',
 'https://vi.wikipedia.org/wiki/Python',
 'https://zh.wikipedia.org/wiki/Python_(%E6%B6%88%E6%AD%A7%E4%B9%89)',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q747452#sitelinks-wikipedia',
 'https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 'https://creativecommons.org/licenses/by-sa/3.0/',
 'https://foundation.wikimedia.org/wiki/Terms_of_Use',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 'https://en.wikipedia.org/wiki/Wikipedia:About',
 'https://en.wikipedia.org/wiki/Wikipedia:General_disclaimer',
 'https://en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://en.m.wikipedia.org/w/index.php?title=Python&mobileaction=toggle_view_mobile',
 'https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/',
 'https://en.wikipedia.org/wiki/Python?action=edit']

#### Number of Titles that have changed in the United States Code since its last release point

In [17]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [18]:
driver=webdriver.Chrome(PATH)
url = 'http://uscode.house.gov/download/download.shtml'
driver.get(url)
links=driver.find_elements_by_class_name('usctitle')
resultado=[i.text for i in links]

In [19]:
resultado

['All titles in the format selected compressed into a zip archive.',
 ' ',
 'Title 1 - General Provisions ٭',
 'Title 2 - The Congress',
 'Title 3 - The President ٭',
 'Title 4 - Flag and Seal, Seat of Government, and the States ٭',
 'Title 5 - Government Organization and Employees ٭',
 'Title 6 - Domestic Security',
 'Title 7 - Agriculture',
 'Title 8 - Aliens and Nationality',
 'Title 9 - Arbitration ٭',
 'Title 11 - Bankruptcy ٭',
 'Title 12 - Banks and Banking',
 'Title 13 - Census ٭',
 'Title 14 - Coast Guard ٭',
 'Title 15 - Commerce and Trade',
 'Title 16 - Conservation',
 'Title 17 - Copyrights ٭',
 'Title 18 - Crimes and Criminal Procedure ٭',
 'Title 19 - Customs Duties',
 'Title 20 - Education',
 'Title 21 - Food and Drugs',
 'Title 22 - Foreign Relations and Intercourse',
 'Title 23 - Highways ٭',
 'Title 24 - Hospitals and Asylums',
 'Title 25 - Indians',
 'Title 26 - Internal Revenue Code',
 'Title 27 - Intoxicating Liquors',
 'Title 28 - Judiciary and Judicial Procedure ٭',
 'Title 29 - Labor',
 'Title 30 - Mineral Lands and Mining',
 'Title 31 - Money and Finance ٭',
 'Title 32 - National Guard ٭',
 'Title 33 - Navigation and Navigable Waters',
 'Title 34 - Crime Control and Law Enforcement',
 'Title 35 - Patents ٭',
 'Title 36 - Patriotic and National Observances, Ceremonies, and Organizations ٭',
 'Title 37 - Pay and Allowances of the Uniformed Services ٭',
 "Title 38 - Veterans' Benefits ٭",
 'Title 39 - Postal Service ٭',
 'Title 40 - Public Buildings, Property, and Works ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 43 - Public Lands',
 'Title 44 - Public Printing and Documents ٭',
 'Title 45 - Railroads',
 'Title 46 - Shipping ٭',
 'Title 47 - Telecommunications',
 'Title 48 - Territories and Insular Possessions',
 'Title 49 - Transportation ٭',
 'Title 50 - War and National Defense',
 'Title 51 - National and Commercial Space Programs ٭',
 'Title 52 - Voting and Elections',
 'Title 53 [Reserved]',
 'Title 54 - National Park Service and Related Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [20]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [21]:
driver=webdriver.Chrome(PATH)
url = 'https://www.fbi.gov/wanted/topten'
driver.get(url)
mw=driver.find_elements_by_tag_name('h3')
resultado=[i.text for i in mw]

In [22]:
resultado

['ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'EUGENE PALMER',
 'RAFAEL CARO-QUINTERO',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ROBERT WILLIAM FISHER',
 'ALEJANDRO ROSALES CASTILLO',
 'ARNOLDO JIMENEZ',
 'JASON DEREK BROWN',
 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [24]:
# This is the url you will scrape in this exercise
import pandas as pd
url = 'https://www.emsc-csem.org/Earthquake/'
driver = webdriver.Chrome(PATH)

driver.get(url)

cabecera = driver.find_element_by_id('haut_tableau')

cabecera = [c.text for c in cabecera.find_elements_by_tag_name('th')]

tabla= driver.find_element_by_id('tbody')

filas= tabla.find_elements_by_tag_name('tr')

datos=[[e.text for e in f.find_elements_by_tag_name('td')] for f in filas]

In [78]:
columnas = ['0','1','2','Date & UTC','Latitude degrees','5'\
            ,'Longitude degrees','7','Depth km','9','Mag','Region name','']



len (columnas)

13

In [79]:
df = pd.DataFrame(datos,columns= columnas)

df = df.drop(['0','1','2','9','Mag\n[+]'], axis=1)

df.head()

KeyError: "['Mag\\n[+]'] not found in axis"

In [82]:
df["Longitude"] = df["Longitude degrees"].map(str) + " " + df["7"]
df["Latitude"] = df["Latitude degrees"].map(str) + " " + df["5"]

df.head()

,0,1,2,Date & UTC,Latitude degrees,5,Longitude degrees,7,Depth km,9,Mag,Region name,,Longitude,Latitude
0,,,,2021-05-13 14:42:14.8\n11min ago,37.17,N,3.68,W,10,,1.8,SPAIN,,3.68 W,37.17 N
1,,,,2021-05-13 14:08:28.0\n45min ago,16.22,N,122.15,E,38,,3.1,"LUZON, PHILIPPINES",,122.15 E,16.22 N
2,,,,2021-05-13 14:02:50.0\n51min ago,33.99,S,72.40,W,38,,2.9,"OFFSHORE O'HIGGINS, CHILE",,72.40 W,33.99 S
3,,,,2021-05-13 13:56:14.0\n57min ago,13.16,N,89.59,W,50,,3.6,OFFSHORE EL SALVADOR,,89.59 W,13.16 N
4,,,,2021-05-13 13:39:09.1\n1hr 14min ago,37.88,N,14.37,E,6,,2.0,"SICILY, ITALY",,14.37 E,37.88 N

In [83]:
df.drop(['Latitude degrees','5','Longitude degrees','7','Depth km'], axis=1)

,0,1,2,Date & UTC,9,Mag,Region name,,Longitude,Latitude
0,,,,2021-05-13 14:42:14.8\n11min ago,,1.8,SPAIN,,3.68 W,37.17 N
1,,,,2021-05-13 14:08:28.0\n45min ago,,3.1,"LUZON, PHILIPPINES",,122.15 E,16.22 N
2,,,,2021-05-13 14:02:50.0\n51min ago,,2.9,"OFFSHORE O'HIGGINS, CHILE",,72.40 W,33.99 S
3,,,,2021-05-13 13:56:14.0\n57min ago,,3.6,OFFSHORE EL SALVADOR,,89.59 W,13.16 N
4,,,,2021-05-13 13:39:09.1\n1hr 14min ago,,2.0,"SICILY, ITALY",,14.37 E,37.88 N
5,,,,2021-05-13 13:31:45.4\n1hr 22min ago,,2.4,STRAIT OF GIBRALTAR,,3.66 W,35.43 N
6,,,,2021-05-13 13:31:32.6\n1hr 22min ago,,5.8,FIJI REGION,,177.42 W,15.93 S
7,,,,2021-05-13 13:30:49.0\n1hr 23min ago,,3.1,"SERAM, INDONESIA",,128.32 E,3.14 S
8,,,,2021-05-13 13:22:38.0\n1hr 31min ago,,3.2,"NEGROS- CEBU REG, PHILIPPINES",,123.08 E,9.92 N
9,,,,2021-05-13 13:21:33.0\n1hr 32min ago,,3.7,MOLUCCA SEA,,125.94 E,0.27 N
10,,,,2021-05-13 13:12:55.6\n1hr 40min ago,,3.0,SOUTHERN ALASKA,,153.05 W,59.23 N
11,,,,2021-05-13 13:01:51.7\n1hr 51min ago,,2.1,STRAIT OF GIBRALTAR,,3.67 W,35.51 N
12,,,,2021-05-13 12:45:06.0\n2hr 08min ago,,2.7,STRAIT OF GIBRALTAR,,3.66 W,35.49 N
13,,,,2021-05-13 12:20:50.1\n2hr 32min ago,,2.2,"ISLAND OF HAWAII, HAWAII",,155.44 W,19.21 N
14,,,,2021-05-13 12:17:51.8\n2hr 35min ago,,2.5,PORTUGAL,,7.25 W,37.82 N
15,,,,2021-05-13 12:17:36.0\n2hr 36min ago,,4.3,"HALMAHERA, INDONESIA",,127.14 E,1.82 N
16,,,F,2021-05-13 12:13:04.4\n2hr 40min ago,,2.6,SLOVENIA,,14.36 E,45.58 N
17,,,,2021-05-13 12:09:57.0\n2hr 43min ago,,2.7,"TARAPACA, CHILE",,68.97 W,20.23 S
18,,,,2021-05-13 12:09:42.0\n2hr 44min ago,,3.3,DOMINICAN REPUBLIC,,69.46 W,19.27 N
19,28,,IV,2021-05-13 11:48:31.0\n3hr 05min ago,,1.8,CROATIA,,16.07 E,45.58 N
20,,,,2021-05-13 11:43:26.0\n3hr 10min ago,,3.8,OFF COAST OF NORTHERN PERU,,79.22 W,9.41 S
21,,,,2021-05-13 11:38:46.0\n3hr 15min ago,,2.8,"ATACAMA, CHILE",,71.40 W,28.78 S
22,,,,2021-05-13 11:33:03.0\n3hr 20min ago,,2.9,"KEPULAUAN ALOR, INDONESIA",,124.93 E,8.26 S
23,,,F,2021-05-13 11:32:13.1\n3hr 21min ago,,5.1,"EASTERN NEW GUINEA REG., P.N.G.",,145.40 E,5.57 S
24,,,,2021-05-13 11:31:23.8\n3hr 22min ago,,2.8,SPAIN,,7.27 W,43.54 N
25,,,,2021-05-13 11:27:38.0\n3hr 26min ago,,3.1,DOMINICAN REPUBLIC REGION,,69.42 W,19.34 N
26,,,,2021-05-13 11:27:06.1\n3hr 26min ago,,4.2,KERMADEC ISLANDS REGION,,179.72 E,30.70 S
27,,,,2021-05-13 11:15:05.0\n3hr 38min ago,,3.4,"POTOSI, BOLIVIA",,67.82 W,22.42 S
28,,,,2021-05-13 11:07:58.1\n3hr 45min ago,,3.0,STRAIT OF GIBRALTAR,,3.72 W,35.51 N
29,,,,2021-05-13 11:04:24.0\n3hr 49min ago,,3.0,DOMINICAN REPUBLIC REGION,,69.45 W,19.45 N
30,,,,2021-05-13 10:58:29.0\n3hr 55min ago,,1.9,"CANARY ISLANDS, SPAIN REGION",,16.44 W,28.18 N
31,,,,2021-05-13 10:50:42.9\n4hr 03min ago,,2.5,OKLAHOMA,,97.28 W,33.96 N
32,,,,2021-05-13 10:47:21.0\n4hr 06min ago,,3.1,DOMINICAN REPUBLIC REGION,,69.42 W,19.38 N
33,,,,2021-05-13 10:45:12.3\n4hr 08min ago,,2.1,PORTUGAL,,8.31 W,37.78 N
34,,,,2021-05-13 10:40:06.0\n4hr 13min ago,,3.0,DOMINICAN REPUBLIC REGION,,69.44 W,19.41 N
35,,,,2021-05-13 10:38:38.0\n4hr 15min ago,,3.3,DOMINICAN REPUBLIC REGION,,69.42 W,19.36 N
36,,,,2021-05-13 10:37:13.4\n4hr 16min ago,,2.4,EASTERN TURKEY,,40.26 E,39.30 N
37,,,,2021-05-13 10:35:36.0\n4hr 18min ago,,3.4,DOMINICAN REPUBLIC,,69.42 W,19.30 N
38,,,,2021-05-13 10:31:50.0\n4hr 22min ago,,3.8,DOMINICAN REPUBLIC,,69.39 W,19.31 N
39,,,,2021-05-13 09:55:36.0\n4hr 58min ago,,3.7,"GUERRERO, MEXICO",,101.35 W,17.54 N
40,,,,2021-05-13 09:48:08.0\n5hr 05min ago,,3.0,"LA RIOJA, ARGENTINA",,67.46 W,29.58 S
41,,,,2021-05-13 09:43:00.0\n5hr 10min ago,,4.2,"OAXACA, MEXICO",,95.59 W,17.41 N
42,,,,2021-05-13 09:42:22.0\n5hr 11min ago,,2.7,"COQUIMBO, CHILE",,71.26 W,31.05 S
43,,,,2021-05-13 09:42:11.9\n5hr 11min ago,,6.0,SOUTH OF PANAMA,,82.32 W,6.72 N
44,,,,2021-05-13 09:19:59.9\n5hr 33min ago,,2.5,FRANCE,,5.99 E,45.29 N
45,,,,2021-05-13 09:05:20.5\n5hr 48min ago,,2.1,PUERTO RICO,,66.77 W,18.01 N
46,,,,2021-05-13 08:54:27.0\n5hr 59min ago,,3.6,"OAXACA, MEXICO",,96.89 W,15.96 N
47,,,,2021-05-13 08:46:53.0\n6hr 06min ago,,3.4,"COLIMA, MEXICO",,103.89 W,19.40 N
48,,,,2021-05-13 08:37:34.1\n6hr 16min ago,,4.2,KYRGYZSTAN,,75.62 E,40.61 N
49,,,,2021-05-13 08:34:02.0\n6hr 19min ago,,3.8,"MINAHASA, SULAWESI, INDONESIA",,120.80 E,1.61 N

In [84]:
df.columns

Index(['0', '1', '2', 'Date & UTC', 'Latitude degrees', '5',
       'Longitude degrees', '7', 'Depth km', '9', 'Mag', 'Region name', '',
       'Longitude', 'Latitude'],
      dtype='object')

In [85]:
df.columns = map(str.lower, df.columns)

In [86]:
df = pd.DataFrame(datos,columns= columnas)

df = df.drop(['0','1','2','9','Mag'], axis=1)

df.head()

,Date & UTC,Latitude degrees,5,Longitude degrees,7,Depth km,Region name,
0,2021-05-13 14:42:14.8\n11min ago,37.17,N,3.68,W,10,SPAIN,
1,2021-05-13 14:08:28.0\n45min ago,16.22,N,122.15,E,38,"LUZON, PHILIPPINES",
2,2021-05-13 14:02:50.0\n51min ago,33.99,S,72.40,W,38,"OFFSHORE O'HIGGINS, CHILE",
3,2021-05-13 13:56:14.0\n57min ago,13.16,N,89.59,W,50,OFFSHORE EL SALVADOR,
4,2021-05-13 13:39:09.1\n1hr 14min ago,37.88,N,14.37,E,6,"SICILY, ITALY",

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [9]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/elonmusk'

In [11]:
driver=webdriver.Chrome(PATH)
driver.get(url)
time.sleep(2)

numero=driver.find_element_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[1]/div[1]/div/div/div/div/div[2]/div/div').text

driver.quit()

numero

'14,2 mil Tweets'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [12]:
driver=webdriver.Chrome(PATH)
try:
    driver=webdriver.Chrome(PATH)

    driver.get(url)

    time.sleep(2)

    numero=driver.find_element_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div/div[1]/div/div[2]/div/div/div[1]/div/div[5]/div[2]/a').text

    driver.quit()

    print(numero) 
    
except Exception as e:
    driver.quit()
    print('Error: ' + str(e))

54,8 M Seguidores

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [13]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [14]:
driver=webdriver.Chrome(PATH)

driver.get(url)

display([e.text for e in driver.find_elements_by_tag_name('strong') if e.text!=''])

driver.quit()

['La enciclopedia libre',
 'Español',
 'English',
 '日本語',
 'Deutsch',
 'Русский',
 'Français',
 'Italiano',
 '中文',
 'Português',
 'Polski',
 'Descargar Wikipedia para Android o iOS']

#### A list with the different kind of datasets available in data.gov.uk

In [104]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [108]:
driver=webdriver.Chrome(PATH)
driver.get(url)
time.sleep(2) 
[a.text for a in driver.find_elements_by_tag_name('h3')]

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [121]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [122]:
driver=webdriver.Chrome(PATH)

driver.get(url)

time.sleep(2) 

cabeceras=driver.find_element_by_tag_name('thead')
cabeceras=[c.text.split("\n")[0] for c in cabeceras.find_elements_by_tag_name('th')]
line=[a.text for a in driver.find_elements_by_class_name('tbody')]
tabla=driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[2]')
filas=tabla.find_elements_by_tag_name('tr')
datos=[[e.text for e in f.find_elements_by_tag_name('td')] for f in filas]

In [123]:
df = pd.DataFrame(datos[1:11], columns=cabeceras)
df

,Rank,Language,Speakers,Percentage,Language family,Branch
0,1,Mandarin Chinese,918,11.922%,Sino-Tibetan,Sinitic
1,2,Spanish,480,5.994%,Indo-European,Romance
2,3,English,379,4.922%,Indo-European,Germanic
3,4,Hindi (sanskritised Hindustani)[9],341,4.429%,Indo-European,Indo-Aryan
4,5,Bengali,228,2.961%,Indo-European,Indo-Aryan
5,6,Portuguese,221,2.870%,Indo-European,Romance
6,7,Russian,154,2.000%,Indo-European,Balto-Slavic
7,8,Japanese,128,1.662%,Japonic,Japanese
8,9,Western Punjabi[10],92.7,1.204%,Indo-European,Indo-Aryan
9,10,Marathi,83.1,1.079%,Indo-European,Indo-Aryan

In [125]:
df.drop(['Speakers','Percentage','Language family','Branch'] , axis=1)

  Rank                            Language
0    1                    Mandarin Chinese
1    2                             Spanish
2    3                             English
3    4  Hindi (sanskritised Hindustani)[9]
4    5                             Bengali
5    6                          Portuguese
6    7                             Russian
7    8                            Japanese
8    9                 Western Punjabi[10]
9   10                             Marathi

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [15]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/elonmusk'

In [16]:
# your code
driver=webdriver.Chrome(PATH)

driver.get(url)

time.sleep(3)

display([e.text for e in driver.find_elements_by_tag_name('article')])

driver.quit()

['Elon Musk lo retwitteó\nSpaceX\n@SpaceX\n·\n18h\nLive feed of Starlink mission → http://spacex.com/launches\nSpaceX\n@SpaceX\nStarlink Mission\n5,6 mil\n7,4 mil\n42,1 mil',
 'Elon Musk lo retwitteó\nTesla\n@Tesla\n·\n14 may.\nConfigurator now live in Hungary  & Romania \n6,5 mil\n5,1 mil\n66,7 mil',
 'Elon Musk lo retwitteó\nSpaceX\n@SpaceX\n·\n13 may.\nSpaceX’s fifth high-altitude flight test of Starship from Starbase in Texas\n7,9 mil\n20,8 mil\n132,6 mil\nMostrar este hilo',
 'Elon Musk\n@elonmusk\n·\n14 may.\nAs always\n33,1 mil\n48,8 mil\n338,9 mil',
 'Elon Musk\n@elonmusk\n·\n14 may.\nWorking with Doge devs to improve system transaction efficiency. Potentially promising.\n61,5 mil\n104,9 mil\n516,9 mil']

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [17]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [18]:
# your code
driver=webdriver.Chrome(PATH)

driver.get(url)


tabla=driver.find_element_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div/div[1]/div/span/div/div/div[3]/table/tbody')

display([e.text for e in tabla.find_elements_by_class_name('titleColumn')])

driver.quit()

['1. Cadena perpetua (1994)',
 '2. El padrino (1972)',
 '3. El padrino: Parte II (1974)',
 '4. El caballero oscuro (2008)',
 '5. 12 hombres sin piedad (1957)',
 '6. La lista de Schindler (1993)',
 '7. El señor de los anillos: El retorno del rey (2003)',
 '8. Pulp Fiction (1994)',
 '9. El bueno, el feo y el malo (1966)',
 '10. El señor de los anillos: La comunidad del anillo (2001)',
 '11. El club de la lucha (1999)',
 '12. Forrest Gump (1994)',
 '13. Origen (2010)',
 '14. El señor de los anillos: Las dos torres (2002)',
 '15. El Imperio contraataca (1980)',
 '16. Matrix (1999)',
 '17. Uno de los nuestros (1990)',
 '18. Alguien voló sobre el nido del cuco (1975)',
 '19. Los siete samuráis (1954)',
 '20. Seven (1995)',
 '21. El silencio de los corderos (1991)',
 '22. Ciudad de Dios (2002)',
 '23. ¡Qué bello es vivir! (1946)',
 '24. La vida es bella (1997)',
 '25. La guerra de las galaxias (1977)',
 '26. Salvar al soldado Ryan (1998)',
 '27. El viaje de Chihiro (2001)',
 '28. La milla verde (1999)',
 '29. Interstellar (2014)',
 '30. Parásitos (2019)',
 '31. El profesional (Léon) (1994)',
 '32. Harakiri (1962)',
 '33. Sospechosos habituales (1995)',
 '34. El pianista (2002)',
 '35. Regreso al futuro (1985)',
 '36. Terminator 2: El juicio final (1991)',
 '37. Tiempos modernos (1936)',
 '38. Psicosis (1960)',
 '39. El rey león (1994)',
 '40. American History X (1998)',
 '41. Luces de la ciudad (1931)',
 '42. Gladiator (El gladiador) (2000)',
 '43. Infiltrados (2006)',
 '44. Whiplash (2014)',
 '45. La tumba de las luciérnagas (1988)',
 '46. Intocable (2011)',
 '47. El truco final (El prestigio) (2006)',
 '48. Casablanca (1942)',
 '49. Hasta que llegó su hora (1968)',
 '50. La ventana indiscreta (1954)',
 '51. Cinema Paradiso (1988)',
 '52. Alien, el octavo pasajero (1979)',
 '53. Apocalypse Now (1979)',
 '54. Memento (2000)',
 '55. En busca del arca perdida (1981)',
 '56. El gran dictador (1940)',
 '57. La vida de los otros (2006)',
 '58. Django desencadenado (2012)',
 '59. Senderos de gloria (1957)',
 '60. El crepúsculo de los dioses (1950)',
 '61. WALL·E (2008)',
 '62. El resplandor (1980)',
 '63. Joker (2019)',
 '64. Testigo de cargo (1957)',
 '65. Vengadores: Infinity War (2018)',
 '66. ¿Teléfono rojo? Volamos hacia Moscú (1964)',
 '67. Spider-Man: un nuevo universo (2018)',
 '68. Hamilton (2020)',
 '69. La princesa Mononoke (1997)',
 '70. Old Boy (2003)',
 '71. Érase una vez en América (1984)',
 '72. Your Name. (2016)',
 '73. El caballero oscuro: La leyenda renace (2012)',
 '74. Aliens: El regreso (1986)',
 '75. Coco (2017)',
 '76. El submarino - Das Boot (1981)',
 '77. Cafarnaúm (2018)',
 '78. Vengadores: Endgame (2019)',
 '79. El infierno del odio (1963)',
 '80. American Beauty (1999)',
 '81. Toy Story (1995)',
 '82. Braveheart (1995)',
 '83. Amadeus (1984)',
 '84. 3 Idiots (2009)',
 '85. Malditos bastardos (2009)',
 '86. El indomable Will Hunting (1997)',
 '87. El retorno del jedi (1983)',
 '88. Reservoir Dogs (1992)',
 '89. 2001: Una odisea del espacio (1968)',
 '90. M, el vampiro de Düsseldorf (1931)',
 '91. Ciudadano Kane (1941)',
 '92. Taare Zameen Par (2007)',
 '93. Vértigo (De entre los muertos) (1958)',
 '94. Réquiem por un sueño (2000)',
 '95. La caza (2012)',
 '96. Con la muerte en los talones (1959)',
 '97. Cantando bajo la lluvia (1952)',
 '98. ¡Olvídate de mí! (2004)',
 '99. Ven y mira (Masacre) (1985)',
 '100. Ladrón de bicicletas (1948)',
 '101. Ikiru (Vivir) (1952)',
 '102. Lawrence de Arabia (1962)',
 '103. El padre (2020)',
 '104. El chico (1921)',
 '105. La chaqueta metálica (1987)',
 '106. Dangal (2016)',
 '107. La naranja mecánica (1971)',
 '108. Taxi Driver (1976)',
 '109. Metrópolis (1927)',
 '110. El golpe (1973)',
 '111. Perdición (1944)',
 '112. 1917 (2019)',
 '113. Amelie (2001)',
 '114. Nader y Simin, una separación (2011)',
 '115. El apartamento (1960)',
 '116. Snatch: Cerdos y diamantes (2000)',
 '117. El precio del poder (1983)',
 '118. Incendios (2010)',
 '119. Toy Story 3 (2010)',
 '120. Matar un ruiseñor (1962)',
 '121. La muerte tenía un precio (1965)',
 '122. Up (2009)',
 '123. Indiana Jones y la última cruzada (1989)',
 '124. L.A. Confidential (1997)',
 '125. Rashomon (1950)',
 '126. Heat (1995)',
 '127. Yojimbo (1961)',
 '128. Jungla de cristal (1988)',
 '129. Ran (1985)',
 '130. Los caballeros de la mesa cuadrada y sus locos seguidores (1975)',
 '131. Green Book (2018)',
 '132. El hundimiento (2004)',
 '133. Batman Begins (2005)',
 '134. Con faldas y a lo loco (1959)',
 '135. Eva al desnudo (1950)',
 '136. Sin perdón (1992)',
 '137. Children of Heaven (1997)',
 '138. El castillo ambulante (2004)',
 '139. La gran evasión (1963)',
 '140. El lobo de Wall Street (2013)',
 '141. ¿Vencedores o vencidos? (1961)',
 '142. Casino (1995)',
 '143. El laberinto del fauno (2006)',
 '144. El tesoro de Sierra Madre (1948)',
 '145. Una mente maravillosa (2001)',
 '146. Pozos de ambición (2007)',
 '147. El secreto de sus ojos (2009)',
 '148. Toro salvaje (1980)',
 '149. Mi vecino Totoro (1988)',
 '150. Chinatown (1974)',
 '151. Lock & Stock (1998)',
 '152. La quimera del oro (1925)',
 '153. Tres anuncios en las afueras (2017)',
 '154. Crimen perfecto (1954)',
 '155. No es país para viejos (2007)',
 '156. El séptimo sello (1957)',
 '157. Shutter Island (2010)',
 '158. El hombre elefante (1980)',
 '159. La cosa (1982)',
 '160. El sexto sentido (1999)',
 '161. Del revés (Inside Out) (2015)',
 '162. V de Vendetta (2005)',
 '163. El tercer hombre (1949)',
 '164. Klaus (2019)',
 '165. Blade Runner (1982)',
 '166. Fresas salvajes (1957)',
 '167. Mi padre y mi hijo (2005)',
 '168. El puente sobre el río Kwai (1957)',
 '169. Trainspotting (1996)',
 '170. Warrior (2011)',
 '171. El show de Truman (1998)',
 '172. Jurassic Park (Parque Jurásico) (1993)',
 '173. Fargo (1996)',
 '174. Buscando a Nemo (2003)',
 '175. Lo que el viento se llevó (1939)',
 '176. Memories of Murder (Crónica de un asesino en serie) (2003)',
 '177. Cuentos de Tokio (1953)',
 '178. Kill Bill: Volumen 1 (2003)',
 '179. La ley del silencio (1954)',
 '180. Stalker (1979)',
 '181. El maquinista de La General (1926)',
 '182. El cazador (1978)',
 '183. Relatos salvajes (2014)',
 '184. Gran Torino (2008)',
 '185. El moderno Sherlock Holmes (1924)',
 '186. La habitación (2015)',
 '187. El gran hotel Budapest (2014)',
 '188. Mary and Max (2009)',
 '189. Persona (1966)',
 '190. Antes de amanecer (1995)',
 '191. En el nombre del padre (1993)',
 '192. Caballero sin espada (1939)',
 '193. Prisioneros (2013)',
 '194. Ser o no ser (1942)',
 '195. Perdida (2014)',
 '196. Atrápame si puedes (2002)',
 '197. Hasta el último hombre (2016)',
 '198. El gran Lebowski (1998)',
 '199. Barry Lyndon (1975)',
 '200. Andhadhun (2018)',
 '201. 12 años de esclavitud (2013)',
 "202. Le Mans '66 (2019)",
 '203. Cómo entrenar a tu dragón (2010)',
 '204. La pasión de Juana de Arco (1928)',
 '205. Mad Max: Furia en la carretera (2015)',
 '206. El salario del miedo (1953)',
 '207. Million Dollar Baby (2004)',
 '208. Ben-Hur (1959)',
 '209. Network, un mundo implacable (1976)',
 '210. El club de los poetas muertos (1989)',
 '211. Cuenta conmigo (1986)',
 '212. Sonata de otoño (1978)',
 '213. Harry Potter y las Reliquias de la Muerte - Parte 2 (2011)',
 '214. La leyenda del indomable (1967)',
 '215. Los cuatrocientos golpes (1959)',
 '216. Eskiya (1996)',
 '217. La doncella (2016)',
 '218. Logan (2017)',
 '219. Platoon (1986)',
 '220. Siempre a tu lado (Hachiko) (2009)',
 '221. La vida de Brian (1979)',
 '222. El odio (1995)',
 '223. Spotlight (2015)',
 '224. Hotel Rwanda (2004)',
 '225. Hacia rutas salvajes (2007)',
 '226. Rush (2013)',
 '227. Rebeca (1940)',
 '228. Andrei Rublev (1966)',
 '229. Monstruos, S.A. (2001)',
 '230. Amores perros (2000)',
 '231. Rocky (1976)',
 '232. Ratsasan (2018)',
 '233. Nausicaä del Valle del Viento (1984)',
 '234. Deseando amar (2000)',
 '235. Soul (2020)',
 '236. Sucedió una noche (1934)',
 '237. Rififi (1955)',
 '238. La batalla de Argel (1966)',
 '239. A Silent Voice (2016)',
 '240. Gangs of Wasseypur (2012)',
 '241. Antes del atardecer (2004)',
 '242. Amanecer (1927)',
 '243. Fanny y Alexander (1982)',
 '244. La princesa prometida (1987)',
 '245. Tres colores: Rojo (1994)',
 '246. Anand (1971)',
 '247. Trono de sangre (1957)',
 '248. Las noches de Cabiria (1957)',
 '249. El hombre que mató a Liberty Valance (1962)',
 '250. Neon Genesis Evangelion: The End of Evangelion (1997)']

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [19]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [20]:
#your code
driver=webdriver.Chrome(PATH)

driver.get(url)


tabla=driver.find_element_by_xpath('/html/body/div[4]/div/div[2]/div[3]/div/div[1]/div/span/div/div/div[3]/table/tbody')

display([e.text for e in tabla.find_elements_by_class_name('titleColumn')][:10])

driver.quit()

['1. Cadena perpetua (1994)',
 '2. El padrino (1972)',
 '3. El padrino: Parte II (1974)',
 '4. El caballero oscuro (2008)',
 '5. 12 hombres sin piedad (1957)',
 '6. La lista de Schindler (1993)',
 '7. El señor de los anillos: El retorno del rey (2003)',
 '8. Pulp Fiction (1994)',
 '9. El bueno, el feo y el malo (1966)',
 '10. El señor de los anillos: La comunidad del anillo (2001)']

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [21]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

Enter the city:madrid

In [22]:
# your code
driver=webdriver.Chrome(PATH)

driver.get(url)

data=driver.find_element_by_xpath('/html/body/pre').text

display(data)

driver.quit()

'{"coord":{"lon":-3.7026,"lat":40.4165},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"base":"stations","main":{"temp":24.57,"feels_like":24.15,"temp_min":22.78,"temp_max":27,"pressure":1015,"humidity":41},"visibility":10000,"wind":{"speed":6.17,"deg":280},"clouds":{"all":40},"dt":1621186411,"sys":{"type":1,"id":6443,"country":"ES","sunrise":1621141058,"sunset":1621193096},"timezone":7200,"id":3117735,"name":"Madrid","cod":200}'

#### Book name,price and stock availability as a pandas dataframe.

In [25]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'